@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap";

$mediaCutoff: 1100px;

:root {
  --default_fonts: "Rubik", "Calibri", sans-serif;
  --search_image_background: rgb(204 204 204);
  --subtle_shadow: 0 0 .3em #000000db;
  --p_opacity: 1;
  --bg_opacity: 86.7%;
  --table_border: .1em solid white;
  --glow_border: rgb(200 206 201);
  --scroll_bar_middle: #9c9c9c;
  --scroll_bar_end: rgb(110 110 110);
  --checkmark_size: 1.2em;
  --frame_color: rgb(237 241 243);
  --mobile_min: 200px;
  --zero_transform: translateZ(0);
  --side_padding: 5em;
  --text_multiplier: .98em;
  --text_weight: 320;
  --sup_color: #3292b3;
  --glow_color: rgb(63 199 165);
  --search_border_color: #fffb;
  --lighter_background: #000a;
  --shadow_bg_2: rgb(148 231 227);
  --img_border: rgb(211 220 221);
  --shadow_bg: rgb(124 153 250);
  --input_inactive_h: 2.5rem;
  --dark_background: #0008;
  --mobile_border: #848484;
  --bg_solid: rgb(15 15 15);
  --img_bg: rgb(96 171 126);
  --stroke_color: rgb(255 255 255 / 45%);
  --main_search_offset: 2%;
  --main_search_width: 80%;
  --menu_search_width: 52%;
  --input_inactive_w: 9rem;
  --mark_color: #dbae31;
  --media_transition: .6s;
  --input_active_h: 7rem;
  --link_color: white;
  --hyperlink: rgb(11 175 175);
  --hyperlink_visited: rgb(43 107 133);
  --fullscr_offset_x: 1em;
  --fullscr_offset_y: .5em;
  --cubeTransform: 3.5em;
  --transform_time: 3s;
  --input_margin: 2em;
  --header_width: 70%;
  --side_offset: 2vw;
  --text_width: 67%;
  --bar_height: 10%;
  --bar_width: 80%;
  --min_width: 600px;
  --menu_size: 4vmax;
  --default_size: 22px;
  --mobile_size: 14px;
  --mobile-width: 300px;
  --footer_margin: .7em;
  --fs_transform: .5em;
  --psp: 300px;
  --transp1: -300px;
  --transp2: -200px;
  --transp3: -100px;
  --max_listing_size: 18px;
  --jit1: .01em;
  --jit2: .017em;
  --jit3: .04em;
  --jit4: .06em;
  --jit5: .075em;
  --jit6: .12em;
  --side_width: 20vw;
  --text_offset_r: 20vw;
  --text_offset_l: 1.5vw;
  --article_fullwidth: 90vw;
  --text_fullwidth: 55vw;
  --text_fullwidth_mobile: 98vw;
  --scroll_w: .6em;
  --slide_height: -200vh;
  --img_transition: opacity .3s;
  --mag_color: rgb(206 206 206);
}

:root, .content, .listing .bottom_part, #settings { --text_back: rgb(13 13 13 / var(--bg_opacity, 86.7%)); }

button { cursor: pointer; }

.modal-message {
  white-space: pre-wrap;
  position: fixed;
  z-index: 600;
  top: 50%;
  padding: 3em;
  overflow-y: scroll;
  max-height: 95vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
  box-shadow: .7em .6em 1em .7em rgb(0 0 0 / 50%);
  border: .2em solid white;
  background: black;

  button {
    color: white;
    background: black;
    font-size: 1em;
    margin: 1em;
    padding: .5em 1em;
    margin-bottom: -1em;
  }
  &#cookie-warning { color: red; }
}

#options {
  display: none;

  &:checked ~ #settings {
    transform: rotateY(0deg) translateY(-25%);
    opacity: 1;
    pointer-events: all;
  }
}

#settings {
  background: var(--text_back);
  transition: transform .2s ease-in, opacity .2s ease-in;
  pointer-events: none;
  text-align: center;
  position: absolute;
  width: 15vw;
  min-width: 200px;
  border-radius: 1em;
  transform: rotateY(90deg);
  opacity: 0;
  right: 2.5vw;
  z-index: 500;
  top: 30vh;
  padding: 1em;
  padding-top: 1.5em;

  #a-sucker-is-born-every-minute {
    display: inline-block;
    width: auto;
    margin-right: 1em;
  }
  #close {
    font-size: 1.1em;
    cursor: pointer;
    position: absolute;
    right: -.4em;
    border: none;
    background: none;
    top: -.6em;

    &:hover { text-shadow: 0 0 .3em var(--glow_color); }
  }
  label {
    margin-bottom: .8em;
    display: block;

    input {
      display: block;
      width: 100%;
    }
  }
  button {
    font-size: 1em;
    margin: .5em;
    padding: .25em .5em;
    color: white;
    background: black;
  }
  div {
    margin-bottom: 1.5em;
    font-weight: bold;

    &:last-of-type { margin-top: 1.5em; }
  }
}

input {
  color-scheme: dark;

  &:-webkit-autofill, &-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}

*:focus { outline: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img { transition: var(--img_transition); }
sup { line-height: 0; }

*, *::before, *::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  list-style-position: inside;
  font-family: inherit;
}

html {
  @media (max-width: $mediaCutoff) {
    font-size: 14px;
    font-size: var(--mobile_size);
  }

  color: white;
  box-sizing: border-box;
  background-color: black;
  font-family: var(--default_fonts);
  font-family: "Rubik", "Calibri", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-variant: normal;
  font-size: 22px;
  font-size: calc((var(--default_size) / 1.5) + .3vw);
}

li::marker { color: #fffc; }

html, body {
  overflow: hidden;
  height: 100%;
  background-color: black;
}

footer {
  opacity: .25;
  display: block;
  text-align: center;
  position: absolute;
  bottom: var(--footer_margin);
  width: 100vw;
  font-size: .7em;
  a { color: var(--link_color); }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 .5em rgb(36 36 36) inset;
}

::-webkit-scrollbar {
  width: var(--scroll_w);
  background-color: transparent;
}

::-webkit-scrollbar-corner { background-color: transparent; }

::-webkit-scrollbar-thumb {
  border: .1em solid rgb(44 44 44);
  width: .5em;
  border-radius: .65em;
  background: #5c5c5c;
  background: linear-gradient(var(--scroll_bar_end), var(--scroll_bar_middle), var(--scroll_bar_end));
}

::-webkit-scrollbar-thumb:hover { background: #606060 !important; }

::-webkit-scrollbar-thumb:active { background: #303030 !important; }

.invisible {
  opacity: 0;
  pointer-events: none;
}

.visible.visible { opacity: 1; }

.fadeborder {
  border-bottom: transparent .2rem solid;
  border-image: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, white 50%, rgb(255 255 255 / 0%) 100%);
  border-image-slice: 1;
}

.grayborder {
  border-radius: .35em;
  border: .15em rgb(255 255 255 / 55.5%) solid;

  &:valid:not([type="submit"]) { border-color: rgb(255 255 255 / 80%); }
}

.hoverglow.hoverglow { transition: box-shadow .2s ease, font-weight .3s ease; }

.hoverglow.hoverglow:hover {
  box-shadow: 0 0 .5em .15em var(--glow_color) inset;
  border-color: var(--glow_border);
  font-weight: 470;
}

hr {
  border-image: linear-gradient(to left, #fff, var(--search_border_color), #fff0);
  border-image-slice: 50%;
  border-image-width: 100%;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 0 0 1em;
  width: 100%;

  &.fadeborder { font-weight: 650; }
  &.generic_header {
    text-shadow: var(--subtle_shadow);
    transition: opacity .2s;
    display: inline-block;
    margin: 0 auto;
    padding: .5% 6vw;
    max-width: 90%;
  }
  &.tag_header {
    position: relative;
    &:hover::after { opacity: .4; }
    &::after {
      content: "...that technically also contains categories (but don't tell anyone)";
      transform: translateX(-50%);
      transition: opacity .2s ease;
      opacity: 0;
      left: 50%;
      white-space: nowrap;
      display: block;
      font-weight: lighter;
      position: absolute;
      padding-top: .5em;
      font-size: .6em;
    }
  }
  &.sitename {
    @media (max-width: $mediaCutoff) { margin-top: -13vw; }

    text-shadow: var(--subtle_shadow);
    transition: margin-top .2s;
    margin: 0 var(--side_offset);
    text-align: left;
    width: 0;

    a {
      color: var(--link_color);
      display: block;
      text-decoration: none;
      font-size: 3.3vw;
      line-height: 3.5vw;
    }
  }
  &.article_header {
    text-shadow: var(--subtle_shadow);
    font-weight: 650;
    border-width: .3rem;
    font-size: 2.5rem;
    margin: 0 auto;
    padding: .5% 0;
  }
  &.main + .menu_label.menu_centered {
    --menu_size: 6vmax;

    display: block;
    margin: 1vmax auto;
    position: absolute;
    top: 21vw;
    left: 50%;
    left: max(50%, 50vw);
    transform: translateX(-50%);
  }
  &.article_header, &.generic_header { + main { margin-top: 2.5em; } }
}

.block.title {
  --title: "";

  font-size: 15rem;
  color: #0f0;
  mix-blend-mode: screen;
  position: relative;
  margin-bottom: .5em;

  &::before, &::after {
    mix-blend-mode: inherit;
    position: absolute;
    left: 0;
    right: 0;
    content: var(--title);
  }
  &::before {
    color: #f00;
    animation: jitter 20s infinite;
  }
  &::after {
    color: #00f;
    animation: jitterA 20s infinite backwards;
  }
}

.tag_container {
  font-weight: 400;
  font-size: .85em;
  opacity: .8;
  position: relative;
  text-align: center;
  width: var(--header_width);
  margin: .8em auto 1.15em;
  transition: opacity .2s;
  pointer-events: none;

  &:hover { opacity: 1; }
  .tag {
    position: relative;
    pointer-events: all;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: .2em;
    padding: 0 .3em;
    border: .15em solid white;
    line-height: 1.3;
    border-radius: 1em;
    background: #000b;

    &:first-of-type::before {
      pointer-events: none;
      content: "Tags:";
      position: absolute;
      right: calc(100% + .7em);
      font-weight: normal !important;
    }
    &:link, &:visited { color: white; }
  }
}

#starChanger {
  display: none;
  float: none;
}


label[for="starChanger"] {
  position: relative;
  opacity: .2;
  cursor: pointer;
  transition: transform .6s ease-in, opacity .5s linear, top .4s ease, right .4s ease;
  z-index: 50001;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    size: 85% !important;
    transition: transform .6s ease-in-out;
    transform: rotate(270deg);
  }
  &:hover {
    opacity: 1;
    display: block;

    svg { transform: none; }
  }
}


#fullcheck {
  display: none;

  + label + label + label {
    &:hover::after { transform: rotate(90deg); }
    &::after {
      transition: transform linear .3s;
      font-weight: bold;
      position: absolute;
      line-height: 0;
      content: "⚙";
      top: 50%;
      font-size: 2vmax;
    }
  }
  + label, + label + label, + label + label + label {
    @media (max-width: $mediaCutoff) {
      visibility: hidden;
      right: -3vmax;
    }

    float: right;
    visibility: visible;
    transition:
      opacity .2s,
      right var(--media_transition),
      top var(--media_transition),
      visibility calc(var(--media_transition) / 2)
      ease-out;
    display: inline-block;
    size: 2vmax;
    position: sticky;
    right: var(--fullscr_offset_x);
    top: var(--fullscr_offset_y);
    z-index: 5000;
    cursor: pointer;
    opacity: .15;

    &:hover { opacity: .4; }
    svg {
      size: 100%;

      polyline {
        fill: none;
        transition: transform .2s;
        stroke: var(--stroke_color);
        stroke-width: .5em;
        transform: translate(var(--fs_transform), var(--fs_transform));

        + polyline {
          transform: translate(calc(var(--fs_transform) * -1), var(--fs_transform));

          + polyline {
            transform: translate(calc(var(--fs_transform) * -1), calc(var(--fs_transform) * -1));

            + polyline { transform: translate(var(--fs_transform), calc(var(--fs_transform) * -1)); }
          }
        }
      }
      &:hover {
        polyline { transform: none; }
      }
    }
  }
  &:checked {
    + label svg {

      polyline { transform: none; }
      &:hover {
        polyline {
          transform: translate(var(--fs_transform), var(--fs_transform));

          + polyline {
            transform: translate(calc(var(--fs_transform) * -1), var(--fs_transform));

            + polyline {
              transform: translate(calc(var(--fs_transform) * -1), calc(var(--fs_transform) * -1));

              + polyline { transform: translate(var(--fs_transform), calc(var(--fs_transform) * -1)); }
            }
          }
        }
      }
    }
    ~ div #searchform-main { margin-top: 2.5em; }
    ~ div {
      .banner img { max-height: 45vh; }
      h1.sitename { margin-top: -11vw; }
      .sidebar {
        visibility: hidden;
        opacity: 0;
        margin-left: -50vw;
      }
      .article_container {
        margin-top: 5rem;
        margin-top: 4vmax;
        transition: width .2s ease-in, margin var(--media_transition) ease, opacity .1s;
        width: var(--article_fullwidth);
        margin-left: calc(((100vw - var(--scroll_w)) - var(--article_fullwidth)) / 2);

        .svgContainer {
          width: auto;
          height: 88vh;
        }
        h2.home_header {
          margin: -.5% 0;
          opacity: 0;
        }
      }
    }
  }
}

.error_block p {
  text-align: center;
  font-size: 1.5rem;
  text-shadow: var(--subtle_shadow);
}

h2.home_header {
  @media (max-width: $mediaCutoff) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
  }

  font-weight: 470;
  transition: opacity .2s, margin var(--media_transition);
  opacity: 0;
  font-style: italic;
  margin-bottom: 2vw;
  margin-top: 0;
  width: 74vw;
  width: calc(94vw - var(--side_width));
}

.only_stars { height: 1200vh; }

.home {
  @media (max-width: $mediaCutoff) {
    aside.sidebar.sidebar {
      padding-top: 0;
      display: block;
      opacity: 0;
      position: static;
      visibility: hidden;
      float: none;
      clear: both;
      width: 70vw;
      max-height: 0;
      overflow: hidden;
      text-align: center;
      transition: max-height .4s ease .2s, opacity .4s linear, visibility .9s;
      margin: 0 auto;

      .misc {
        margin: 2em auto 1em;
        text-align: left;
        width: 70%;
      }
      nav ul {
        padding-inline-start: 0;

        li {
          border-image: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, white 50%, rgb(255 255 255 / 0%) 100%);
          border-image-slice: 1;

          &:first-of-type { border-top: .15em transparent solid; }
          a {
            margin: 1vmax auto;
            padding: 0;
          }
        }
      }
    }

    .article_container { margin-top: 0; }
    #menucheck {
      ~ .sidebar_mobile.sidebar_mobile { display: none; }
      ~.wrapper .main + .menu_centered.menu_centered { border-radius: .25em; }
      &:checked {
        ~ label.menu_label:not(.menu_centered) {
          outline: none;
          background: transparent;
        }
        ~ div {
          aside.sidebar {
            transition: max-height .8s, opacity .4s linear .3s;
            max-height: 200vh;
            visibility: visible;
            opacity: 1;
          }
        }
      }

      ~ label.menu_label { display: none; }
    }
    h1.sitename {
      a {
        font-size: 10vw;
        line-height: 8vw;
        text-align: center;
      }

      width: auto;
      margin: 1.5em auto;
    }
  }
}

.cloud {
  display: block;
  margin: -3% auto;
  transition: opacity .2s;
  max-width: 60%;

  * { transition: opacity .2s; }
  ul {
    font-size: 1.5rem;
    margin-top: 5%;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;

    a {
      transform-style: preserve-3d;
      text-shadow: var(--subtle_shadow);
      transition: transform .3s, opacity .2s;
      color: var(--link_color);
      display: block;
      padding: .125em .25em;
      text-decoration: none;
      position: relative;

      &:hover { transform: scale(1.1); }
    }
  }
}

.breakdown {
  text-shadow: var(--subtle_shadow);
  display: inline-block;
  margin-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 2em;
  width: 90%;
  text-align: left;
  font-size: 1.1rem;

  .tiny {
    font-size: .7rem;
    display: block;
  }
}

.sidebar, .sidebar_mobile {
  @media (max-width: $mediaCutoff) {
    visibility: hidden;
    opacity: 0;
    margin-left: -50vw;
    position: absolute;
    transition: margin .5s, visibility .4s, opacity .3s;
  }

  label {
    cursor: pointer;
    font-size: 2rem;
    padding-top: .5rem;
    display: block;
    font-weight: bold;
    margin-bottom: -.5rem;
  }


  min-height: 1px;
  font-size: 1.3rem;
  float: left;
  display: inline-block;
  will-change: transform, opacity;
  transition: margin .3s, visibility .2s, opacity .1s;
  width: var(--side_width);

  .homelink {
    padding-top: .5em;
    margin-top: 1em;
    display: block;
    border-top: .15em solid transparent;
    border-image: linear-gradient(90deg, rgb(255 255 255 / 0%) 0, white 50%, rgb(255 255 255 / 0%) 100%);
    border-image-slice: 1;
    transition: text-shadow .5s, padding-left .5s;
    color: white;
    text-decoration: none;

    &:hover {
      padding-left: .3em;
      text-shadow: 0 0 .5em white;
    }
  }
  nav {
    ul {
      list-style: none;
      padding-inline-start: var(--side_offset);

      li {
        @media (max-width: $mediaCutoff) { margin: 0; }

        margin: 0 15% 0 0;
        transition: text-shadow .5s, padding-left .5s;
        cursor: pointer;
        padding-left: .1em;
        border-bottom: transparent .15em solid;
        border-image: linear-gradient(90deg, white 0%, rgb(255 255 255 / 30%) 50%, rgb(255 255 255 / 0%) 100%);
        border-image-slice: 1;
        text-shadow: var(--subtle_shadow);

        a {
          transition: font-weight .7s ease;
          display: block;
          font-size: 1.1rem;
          font-weight: 470;
          padding-top: .65rem;
          padding-bottom: .15rem;
          text-decoration: none;
          color: var(--link_color);

          &:hover { font-weight: 600; }
        }

        &:first-child a { padding-top: .5em; }
        &:hover {
          padding-left: .3em;
          text-shadow: 0 0 .5em white;
        }
      }
    }
  }
  .misc {
    background: var(--dark_background);
    size: 80% auto;
    border-radius: .35em;
    border: .15em var(--search_border_color) solid;
    margin-top: 2em;
    margin-left: var(--side_offset);
    margin-bottom: 1em;
    position: relative;
    padding-right: 3%;

    ul {
      font-size: 1.1rem;
      margin: 1em 0;
      list-style: none;
      margin-left: 1em;

      li {
        margin-top: .3em;

        &:first-of-type { margin-top: 0; }
        span {
          font-weight: 330;
          font-size: .8rem;
          color: #fff4;
        }
        a {
          transition: text-decoration .2s ease;
          color: var(--link_color);
          text-decoration: underline transparent;

          &:hover { text-decoration: underline; }
        }
      }
    }
    &::before {
      text-shadow: var(--subtle_shadow);
      font-size: 1rem;
      font-weight: 600;
      content: "Latest Posts";
      position: absolute;
      bottom: calc(100% + .5em);
    }
  }
}

.sidebar_mobile.sidebar_mobile {
  padding: 0 3%;
  background: var(--text_back);
  visibility: hidden;
  opacity: 0;
  outline: .2em solid var(--mobile_border);
  margin-left: -50vw;
  margin-left: min(calc(var(--mobile_min) - 6%), -50vw);
  margin-top: 1vmax;
  position: sticky;
  max-height: 80vh;
  border-radius: 0 0 .25em;
  overflow: hidden auto;
  z-index: 6000;
  max-width: 40vw;
  min-width: var(--mobile_min);
  box-shadow: .25em .4em .75em .15em #000000ab;
  float: none;
  display: inline-block;
  transition: margin var(--media_transition), visibility .4s, opacity .3s;
  text-align: center;

  ul.menu {
    padding-inline-start: 0;
    margin-top: .5em;

    li {
      &:first-of-type { border-top: .15em solid transparent; }

      border-image: linear-gradient(90deg, rgb(255 255 255 / 0%) 0, white 50%, rgb(255 255 255 / 0%) 100%);
      border-image-slice: 1;
      a { padding: .5em 0; }
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.menu_centered { display: none; }


#menucheck {
  display: none;

  &:checked {
    ~ label.menu_label, ~ .wrapper .main + .menu_centered {
      @media (max-width: $mediaCutoff) {
        opacity: 1;
        background: var(--bg_solid);
        border-radius: 0 .25em .25em 0;
        outline: solid var(--mobile_border) .25em;
      }

      &::before { box-shadow: 0 calc((var(--menu_size) / 2) * .6) 0 0 white, 0 calc((var(--menu_size) / 2) * -.6) 0 0 white; }
      &:hover::before { box-shadow: 0 calc((var(--menu_size) / 2) * .4) 0 0 white, 0 calc((var(--menu_size) / 2) * -.4) 0 0 white; }
    }

    @media (max-width: $mediaCutoff) {
      ~ aside.sidebar_mobile {
        opacity: 1;
        display: inline-block;
        margin-left: 0;
        margin-right: .15em;
        visibility: visible;
      }
    }
  }
  ~ .wrapper .main + .menu_centered.menu_centered {
    @media (max-width: $mediaCutoff) {
      visibility: visible;
      left: 50%;
      display: block;
      margin-bottom: 1.5em;
    }

    visibility: hidden;
    display: none;
  }
  ~ label.menu_label,
  ~ .wrapper .main + .menu_centered {
    @media (max-width: $mediaCutoff) {
      visibility: visible;
      left: calc(var(--menu_size) / 20);
    }

    vertical-align: top;
    top: 1vmax;
    visibility: hidden;
    opacity: .3;
    display: inline-block;
    transition: opacity .2s, left var(--media_transition), visibility calc(var(--media_transition) / 2);
    position: sticky;
    left: calc(var(--menu_size) * -2);
    size: var(--menu_size);
    background: transparent;
    cursor: pointer;
    z-index: 5001;

    &::before {
      transition: box-shadow .2s;
      content: "";
      position: absolute;
      display: block;
      width: 80%;
      height: var(--bar_height);
      top: calc(calc(var(--menu_size) / 2) - (var(--bar_height) / 2));
      left: calc((100% - var(--bar_width)) / 2);
      background: white;
      box-shadow: 0 calc((var(--menu_size) / 2) * .4) 0 0 white, 0 calc((var(--menu_size) / 2) * -.4) 0 0 white;
    }
    &:hover {
      opacity: 1;

      &::before { box-shadow: 0 calc((var(--menu_size) / 2) * .6) 0 0 white, 0 calc((var(--menu_size) / 2) * -.6) 0 0 white; }
    }
  }
}

.wrapper {
  @media (max-width: $mediaCutoff) { min-width: var(--mobile-width); }

  @media (hover: none) {
    perspective: none;
    perspective-origin: 0 0;
  }

  min-width: var(--min_width);
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  perspective: var(--psp);
  perspective-origin: 100% 100%;
}

.parallax-wrapper, .content {
  transform-style: preserve-3d;
  transform: var(--zero_transform);
}

.parallax-wrapper {
  @media (max-width: $mediaCutoff) { min-width: var(--mobile-width); }

  position: relative;
  min-height: 100%;
  padding: 0;
  min-width: var(--min_width);
  overflow: visible;
}

.content {
  overflow: hidden;
  padding-top: 2vh;
  padding-bottom: .3em;
}

.parallax {
  @media (hover: none) { perspective-origin: 0 0; }

  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transform-origin: 100% 100%;
}

.p1 {
  @media (hover: none) { transform: none; }

  background-image: url("../img/para_1.png");
  transition: transform .3s cubic-bezier(.455, .03, .515, .955), opacity .4s ease-in-out;
  transform: scale(1.02);

  &.visible {
    @media (hover: none) { transform: none; }

    transform: translateZ(var(--transp1)) scale(2.1);
  }

  &.slowtrans { transition: transform 1s cubic-bezier(.455, .03, .515, .955); }
}

.p2 {
  @media (hover: none) { transform: none; }

  transition:
    right .3s cubic-bezier(.455, .03, .515, .955),
    width .3s cubic-bezier(.455, .03, .515, .955),
    height .3s cubic-bezier(.455, .03, .515, .955),
    opacity .3s linear;
  transform: translateZ(var(--transp2)) scale(1.6);
  size: 102%;
  right: -2%;

  &.visible {
    right: 0;
    size: 100%;
  }
}


.p3 {
  @media (hover: none) {
    transform: none;
    background-size: 120vmax;
  }

  transform: translateZ(var(--transp3)) scale(1.4);
  transition: opacity .3s linear, filter .2s linear;
  filter: grayscale(1);
}

.vistrans {
  transition: opacity 1s ease-in .7s, filter .6s linear;
  filter: grayscale(0);
}

.grayed { color: #fff8; }

.vistrans2 { transition: opacity .2s; }

.article_container {
  @media (max-width: $mediaCutoff) {
    margin-top: 5rem;
    margin-top: 6vmax;
    width: 95%;
    width: calc(100% - var(--menu_size) * 2.2);
    margin-left: calc(var(--menu_size) * 1.1);
  }

  will-change: margin-top, opacity;
  transition: margin-top .3s linear, opacity .2s, width .2s;
  width: calc(100vw - var(--side_width) - (var(--text_offset_r) + var(--text_offset_l)));
  z-index: 2;
  display: inline-block;
  margin-top: -5vw;
  margin-bottom: 3em;
  float: left;
  margin-left: var(--text_offset_l);
  text-align: center;

  &.vistrans2 { transition: width .2s ease-in, var(--media_transition) ease, opacity .2s; }
  main.list_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    position: relative;
    overflow: visible;
    font-size: var(--text_multiplier);

    ul.pagination {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, calc(100% + 2em));
    }
  }
}

ul.pagination {
  @media (max-width: $mediaCutoff) {
    width: 90%;
    display: inline-flex;
  }

  margin: 1em auto;
  text-align: center;
  padding: 0;
  border: .15em solid rgb(142 142 142);
  border-radius: 4em;
  display: table;
  white-space: nowrap;

  li {
    font-size: 1.3rem;
    background: rgb(0 0 0 / 70%);
    margin: -.03em 0;
    display: inline-block;
    flex-grow: 4;
    border-left: .11em solid rgb(142 142 142);
    line-height: 1.2;
    padding: 0 1.5vw;
    padding-bottom: .08em;
    position: relative;

    a[disabled] {
      color: #fff8;
      pointer-events: none;

      &:hover { color: #fff8; }
    }
    &.active {
      background: rgb(48 48 48 / 70%);
      pointer-events: none;
      outline: none;

      a { color: #fff8; }
    }
    a {
      transition: color .1s linear;
      color: var(--link_color);
      text-decoration: none;
      display: block;
      padding-top: .1em;

      &::before {
        content: "";
        display: block;
        background: transparent;
        size: 90%;
        position: absolute;
        top: 3%;
        left: 5%;
      }

      &:hover { color: grey; }
    }
    &:first-child, &:last-child { flex-grow: 1; }
    &:first-child {
      border-radius: 1em 0 0 1em;
      border: none;
    }
    &:last-child { border-radius: 0 1em 1em 0; }
  }
}

.generic_header + .pagination { margin-top: 1.5em; }

.breakdown + .pagination {
  margin-bottom: 1em;
  margin-top: -1em;
}

.text {
  text-align: left;

  a {
    color: var(--hyperlink);
    &:visited { color: var(--hyperlink_visited); }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a[id^="_ref"], a[id^="_toe"], a[id^="toe"], a[id^="ref"] {
    color: var(--sup_color);
    text-decoration: none;

    &.highlight { color: red; }
  }
  .post_text {
    font-size: var(--text_multiplier);
    font-weight: var(--text_weight);

    sup {
      font-size: .65em;
      font-weight: calc(var(--text_weight) * 2);

      &::before { content: "⁠"; }
    }

    .text-big { font-size: 1.5rem; }
    .text-huge { font-size: 1.8rem; }
    .text-small { font-size: .8rem; }
    mark {
      display: inline;

      &.pen- {
        &red { background: red; }
        &green { background: rgb(48 165 48); }
      }
      &.marker- {
        &green { background: rgb(124 197 124); }
      }
    }
    .todo-list {
      list-style: none;
      margin-left: 1em;

      li { margin: .5em 0; }
      label input {
        display: inline-block;
        position: relative;
        size: var(--checkmark_size);
        vertical-align: middle;
        border: 0;
        left: -2em;
        margin-right: -1em;
        right: 0;
        margin-left: 0;

        &::before {
          display: block;
          position: absolute;
          box-sizing: border-box;
          content: "";
          width: 100%;
          height: 100%;
          border: .05em solid #333;
          border-radius: .1em;
          transition: box-shadow .25s ease-in-out, background .25s ease-in-out, border .25s ease-in-out;
        }
        &:checked::before {
          background: #26ab33;
          border-color: #26ab33;
        }

        &:checked::after { border-color: #fff; }
        &::after {
          display: block;
          position: absolute;
          box-sizing: content-box;
          pointer-events: none;
          content: "";
          left: calc(var(--checkmark_size) / 3);
          top: calc(var(--checkmark_size) / 5.3);
          width: calc(var(--checkmark_size) / 5.3);
          height: calc(var(--checkmark_size) / 2.6);
          border-left: 0 solid transparent;
          border-bottom: calc(var(--checkmark_size) / 8) solid transparent;
          border-right: calc(var(--checkmark_size) / 8) solid transparent;
          border-top: 0 solid transparent;
          transform: rotate(45deg);
        }
      }
    }
    ul {
      margin-left: 2ch;
      font-family: monospace;

      li {
        font-family: var(--default_fonts);
        list-style-position: outside;
        margin-bottom: .5em;

        &::marker {
          font-family: monospace;
          content: "• ";
        }
        &:last-of-type { margin-bottom: 0; }
      }
    }

    .text-tiny { font-size: .5em; }
    strong { font-weight: calc(var(--text_weight) * 2); }
    h1 {
      font-size: 2em;
      font-weight: calc(var(--text_weight) * 2);
      line-height: 1;
      margin: 1em auto;
      i { font-weight: calc(var(--text_weight) * 1.5); }

      &:first-child { margin-top: 0; }
    }
    h2, h3 { font-style: italic; }
    h2 {
      margin: 1em 0 .25em;
      font-weight: calc(var(--text_weight) * 1.7);
      i { font-weight: calc(var(--text_weight) * 1.3); }
    }
    h3 { text-decoration: underline; }
    figcaption {
      text-align: center;
      font-size: .8rem;
      font-weight: calc(var(--text_weight) * 1.5);
    }
    a:not(sup > a) {
      font-weight: calc(var(--text_weight) * 1.2);

      i { font-weight: calc(var(--text_weight) * 1.1); }
    }
    figure.image {
      position: relative;
      background: var(--frame_color);
      color: black;
      border: .25em solid var(--frame_color);
      border-radius: .15em;
      padding: .25em .25em 0;
      margin: 1.5em auto;
      text-align: center;
      display: table;
      overflow: hidden;
      transition: opacity .15s ease-in;

      &.style-align-left {
        float: left;
        margin-right: 1em;
      }
      &.style-align-right {
        float: right;
        margin-left: 1em;
      }
      &.blank {
        background: none;
        box-shadow: 0 0 0 2px var(--frame_color) inset;

        img { box-shadow: 0 0 .15em #282525, 0 0 0 25vw var(--frame_color); }
      }
      img {
        margin-bottom: -.1em;
        max-width: 100% !important;
        height: auto !important;
        box-shadow: 0 0 .15em #282525;
      }

      figcaption { padding: 0; }
    }
    figure table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 95%;
      empty-cells: show;
      margin: 0 auto;

      td { background: #353535; }
      th {
        background: grey;
        font-weight: 800;
      }
      tr, thead {
        td, th {
          border-bottom: var(--table_border);
          border-right: var(--table_border);
        }
        td:first-child {
          border-right: var(--table_border);
          border-bottom: var(--table_border);
        }
        td:last-child, th:last-child {
          border-left: var(--table_border);
          border-bottom: var(--table_border);
          border-right: none;
        }
      }
      thead + tbody tr:first-child {
        td:first-child { border-radius: 0; }
        td:last-child { border-radius: 0; }
      }
      tr:first-child, thead {
        td:first-child, th:first-child {
          border-radius: .35em 0 0;
          border-right: var(--table_border);
          border-bottom: var(--table_border);
        }
        td:last-child, th:last-child {
          border-radius: 0 .35em 0 0;
          border-left: var(--table_border);
          border-bottom: var(--table_border);
        }
      }
      tr:last-child {
        td { border-bottom: none; }
        td:first-child {
          border-radius: 0 0 0 .35em;
          border-right: var(--table_border);
          border-top: var(--table_border);
        }
        td:last-child {
          border-radius: 0 0 .35em;
          border-left: var(--table_border);
          border-top: var(--table_border);
        }
      }
      td, th {
        text-align: left;
        vertical-align: top;
        font-size: 95%;
        line-height: 1.5;
        padding: .75em;
      }
    }
    hr {
      border-image: linear-gradient(to left, rgb(255 255 255 / 0%), #fff, rgb(255 255 255 / 0%));
      border-image-slice: 50%;
      border-width: .11em;
      border-image-width: 100%;
      width: 20%;
      clear: both;
      margin: 2.5em auto;
      filter: blur(.025em);
    }
    pre {
      max-width: 100%;
      overflow: auto;
      padding: .1em;

      .lang {
        user-select: none;
        position: absolute;
        right: .3em;
        top: .1em;
        opacity: .2;
        font-size: .9em;
      }
    }
    .align-justify { text-align: justify; }
    .align-right { text-align: right; }
    .align-left { text-align: left; }
    .align-center { text-align: center; }
    blockquote {
      background-image: linear-gradient(90deg, #fff5, #fff1 95%, #fff0);
      border-left: .25em solid;
      padding: 1.25em 1.5em;
      font-style: italic;
      color: white;

      &.h-quote {
        background: none;
        widows: 0;
        border: .15em solid;
        border-left: none;
        max-width: 65%;
        font-size: 1.5em;
        border-image: linear-gradient(to left, rgb(255 255 255 / 0%), white);
        border-image-slice: 1 0;
        margin: 1em -.5em;
        padding: .3em;
      }

      p { margin: 0; }
    }
    kbd {
      color: grey;
      border: .05em orangered;
      padding: .2em .4em;
    }
    code {
      display: inline-block;
      background: rgb(31 31 31);
      position: relative;
      min-width: 60%;
      top: -.05em;
      border: .15em solid rgb(255 255 255 / 55.5%);
      border-radius: .35em;
      padding: .2em .4em;
    }
  }
  figure.banner {
    text-align: center;
    position: relative;
    margin: 1em auto 2em;
    pointer-events: none;
    transition: var(--img_transition);
    font-size: var(--text_multiplier);

    figcaption { margin-bottom: .5em; }
    img {
      transition: max-height .5s, width .5s, var(--img_transition);
      pointer-events: all;
      animation: slowfade .5s;
      max-height: 40vh;
      border: .3em solid var(--img_border);
      border-radius: .25em;
      z-index: -1;
      height: auto;
      margin: 0 auto;
      margin-bottom: 2em;
      padding: 0;
      display: block;
      background: var(--img_border);
      background-origin: border-box;
      box-shadow: 0 0 .5em .05em var(--shadow_bg), 0 0 0 1em var(--img_border) inset;
    }
  }
  main {
    @media (max-width: $mediaCutoff) {
      max-width: var(--text_fullwidth_mobile);
      padding: 2.5em 1.1em 1.2em;
    }
    i { font-weight: calc(var(--text_weight) / 1.2); }

    position: relative;
    overflow: hidden;
    padding: 2.5em var(--side_padding) 2em;
    background: var(--text_back);
    border-radius: 1.5em;
    border: .25em solid #fffc;
    box-shadow: 0 0 1em .25em var(--shadow_bg), 0 0 1em .25em var(--shadow_bg) inset;
    line-height: 1.6;
    max-width: var(--text_fullwidth);
    margin: 0 auto;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .datespan {
      top: .8em;
      right: 1em;
      opacity: .5;
      font-weight: 350;
      text-align: right;
      display: inline-block;
      position: absolute;
    }
  }
}

#tabcont {
  position: absolute;
  top: 50px;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.hljs-ln {
  width: 100%;
  border-spacing: 0;
  font-family: "Fira Code";
  font-size: .9em;
  tab-size: 4ch;

  tr {
    &::before {
      transition: opacity .1s;
      pointer-events: none;
      content: " ";
      position: absolute;
      right: .2em;
      left: .2em;
      background: white;
      z-index: 1;
      border-radius: .15em;
      opacity: 0;
    }
    &:hover {
      &::before { opacity: .1; }
      td.hljs-ln-numbers { opacity: 1; }
    }
  }
}

td.hljs-ln-code div {
  padding-left: .25em;
  line-height: 0;
}

td.hljs-ln-numbers {
  opacity: .5;
  user-select: none;
  text-align: right;
  border-right: .05em solid rgb(255 255 255 / 55.5%);
  font-weight: 300;
  width: 0;

  div {
    margin: 0;
    padding-right: .35em;
  }
}

.upper {
  @media (max-width: $mediaCutoff) { right: .7vw; }

  pointer-events: none;
  line-height: 0;
  right: .3em;
  bottom: .1em;
  position: fixed;
  font-weight: 150;
  font-size: 6rem;
  text-shadow: white 0 0 .2em;
  opacity: 0;
  color: white;
  text-decoration: none;
  transition: opacity .2s ease;

  &.visi {
    opacity: .3;
    pointer-events: all;
    &:hover { opacity: .8; }
  }
}

#tocButton {
  display: none;

  + label {
    @media (max-width: $mediaCutoff) {
      left: .1em;
      margin-top: 1.5em;
      opacity: .3;
    }

    font-size: 2.5em;
    left: calc(48vw - var(--text_fullwidth) / 2);
    margin-top: .05em;
    opacity: .15;
    position: absolute;
    cursor: pointer;
    text-shadow: 0 0 .2em white, 0 0 .15em white;
    transition: opacity .2s;
    &:hover { opacity: 1; }
  }
  &:checked + label {
    opacity: 1;

    ~ main .toc {
      pointer-events: all;
      opacity: 1;
      transform: translateX(0);
      box-shadow: 0 0 .5em .1em var(--shadow_bg), 0 0 .5em .1em var(--shadow_bg) inset;
    }
  }
}

.noresult {
  margin-top: 1.5em;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    color: var(--hyperlink);
    transition: font-weight .2s;

    &:hover { font-weight: 400; }
  }
}

.toc {
  transition: box-shadow .5s linear, transform .3s ease, opacity .3s ease;
  overflow: hidden;
  background: rgb(0 0 0 / 97%);
  display: block;
  transform: translateX(-100%);
  margin: 0;
  padding-right: .5em;
  opacity: 0;
  border-radius: 0 .5em .5em 0;
  border: .25em solid #cdcfd2;
  width: fit-content;
  box-shadow: none;
  pointer-events: none;
  text-align: center;
  border-left-style: none;

  > ul {
    text-align: left;
    display: inline-block;
    line-height: 1.6;
    list-style-position: inside;

    li { margin-left: .5em; }
    > li {
      list-style: upper-roman inside;
      padding-top: .5em;

      > ul > li {
        list-style: lower-roman inside;

        > ul > li { list-style: circle inside; }
      }
    }
    a {
      color: white;

      &:visited { color: white; }
    }
  }
  ul {
    margin-left: .7em;
    margin-bottom: .7em;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
    color: var(--link_color);

    &:hover { text-decoration: underline; }
  }
}

.footnotes {
  @media (max-width: $mediaCutoff) { max-width: calc(var(--text_fullwidth_mobile) * .9); }

  font-weight: 420;
  background: var(--lighter_background);
  border: .3em solid #cdcfd2;
  border-top: none;
  box-shadow: 0 0 .5em 0 var(--shadow_bg_2), 0 0 .5em 0 var(--shadow_bg_2) inset;
  margin: 0 auto;
  border-radius: 0 0 .6em .6em;
  top: 100%;
  padding: .6em calc(var(--side_padding) / 4);
  width: 90%;
  z-index: 1;
  max-width: calc(var(--text_fullwidth) * .9);

  .footnotable > tbody > tr > td {
    font-size: .8em;
    vertical-align: baseline;
    line-height: 1.4;
    font-weight: var(--text_weight);

    &:first-child {
      + td { padding: 0 .2em; }
      &.highlight {
        a { color: red; }
        + td { outline: solid .1em white; }
      }
    }
  }

  p { margin: 0; }
  sup {
    font-weight: calc(var(--text_weight) * 2);
    &::before { content: "⁠"; }
  }
  a sup {
    font-family: "Arial Black", sans-serif;
    font-size: .75em;
  }
  ol {
    margin: .5em .5em .3em 1.7em;
    list-style: decimal;

    li {
      list-style-position: outside;
      margin-top: .5em;

      &::marker {
        content: "["counter(list-item) "]";
        margin-right: 4em;
        font-size: .75em;
        display: block;
      }
    }
  }
  &.toenotes {
    @media (max-width: $mediaCutoff) { max-width: calc(var(--text_fullwidth_mobile) * .7); }

    max-width: calc(var(--text_fullwidth) * .75);
    box-shadow: 0 0 .6em 0 white, 0 0 .6em 0 white inset;
  }
}

.commentainer {
  @media (max-width: $mediaCutoff) {
    form { line-height: 8em; }
  }

  .edit_label {
    cursor: pointer;
    color: var(--hyperlink);
  }

  font-size: var(--text_multiplier);
  position: static !important;
  display: block;
  margin: 1.5em auto;
  padding-top: .75em;
  width: 80%;

  ul.pagination { margin: var(--input_margin) auto; }

  li { margin-top: 1em; }
  .comment_input_2nd {
    visibility: hidden;
    display: inline-block;
    background: black;
    font-family: "Rubik";
    font-size: 1rem;
    padding: .2em .5em;
    color: var(--link_color);
    opacity: 0;
    transition: opacity .4s ease 1s, box-shadow .3s linear, border-color .4s;
    margin-right: 3%;
    margin-bottom: 1%;

    &.vis {
      visibility: visible;
      opacity: 1;
    }
    &:active { color: rgb(160 199 235); }
    &[type="text"] {
      width: calc(70% - 15.15em);
      min-width: 5.5em;
    }
  }
  h2 {
    text-shadow: var(--subtle_shadow);
    text-align: center;
    margin: .2em auto;
    font-size: 1.3em;
  }
  .com_forms {
    margin-top: var(--input_margin);

    .userhint {
      font-size: .8em;
      font-weight: lighter;
      opacity: 0;
      user-select: none;
      text-shadow: var(--subtle_shadow);
      margin-top: .5em;
      line-height: 0;
      transition: opacity .2s ease-in;
    }
    input:focus ~ .userhint { opacity: .7; }
  }
  .comment_input {
    &.edit {
      margin-top: -1.5em;
      margin-bottom: .5em;
      padding: .5em;
      height: 7em;
      width: 100%;
    }

    size: var(--input_inactive_w) var(--input_inactive_h);
    color: white;
    font-size: .9em;
    transition: height .5s linear .3s, width .5s linear .3s, margin .6s linear .3s, box-shadow .3s 0s;
    background: var(--lighter_background);
    margin-bottom: calc(var(--input_active_h) - var(--input_inactive_h));
    resize: none;
    display: block;
    padding: .25em;
  }
  ul {
    list-style: none;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;

    hr {
      border-image: linear-gradient(to right, #fff, var(--search_border_color), #fff0);
      border-image-slice: 50%;
      border-image-width: 100%;
      clear: both;
    }
    .commentitle {
      font-style: italic;
      padding-left: .5em;
      text-shadow: var(--subtle_shadow);
      font-weight: 500;
      text-align: left;
      float: left;
    }
    .commentStats {
      font-size: .8em;
      text-shadow: var(--subtle_shadow);
      opacity: .7;
      font-weight: 400;
      float: right;
    }
  }
  .commentbody {
    font-size: .9em;
    padding: .4em .5em;
    background: linear-gradient(to right, var(--lighter_background), #0006, #0000);
    border-radius: 0 0 0 .3em;
    text-align: left;
    font-weight: 430;

    p { margin: 0; }
  }
}

.no_comment {
  text-align: center;
  margin: .5em 0 2em;
}

.com_forms {
  &:invalid button[type="submit"] {
    pointer-events: none;
    color: #fff5;
  }
}

.h-captcha {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s;
  margin-top: 0;

  + ul {
    visibility: hidden;
    size: 0;
  }
}

#challenger {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  padding: 0;

  iframe {
    display: none;
    box-shadow: 0 0 1em .5em black;
  }
  &.captive iframe { display: block; }
}

div[style^="background-color: rgb(255, 255, 255)"] {
  position: sticky !important;
  width: 20em;
  margin-bottom: 1em;
}

#comment_check {
  display: none;
  position: relative;

  + label {
    size: var(--input_inactive_w) var(--input_inactive_h);
    background: black;
    display: block;
    font-size: 1rem;
    position: absolute;
    cursor: pointer;
    transition: opacity .2s linear, box-shadow .3s linear, border-color .4s;
    text-align: center;
    padding-top: .45em;

    &.grayed { cursor: default; }
    ~ form {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .comment_input { margin-right: 70%; }
    }
  }
  &:checked + label {
    pointer-events: none;
    opacity: 0;

    ~ form {
      .comment_input {
        margin-right: 0;
        size: 100% var(--input_active_h);
        margin-bottom: 1em;
        box-shadow: 0 0 .5em .1em red;

        &:invalid { box-shadow: 0 0 .5em 0 red; }
      }
      input, button {
        opacity: 1;
        visibility: visible;
        white-space: nowrap;
      }
    }
  }
}

#search_form {
  display: block;
  height: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#search_form_mobile { margin-top: .75em; }

#searchform-main#searchform-main {
  font-size: var(--text_multiplier);
  display: block;
  text-align: left;

  @media (max-width: $mediaCutoff) { --main_search_width: 70%; }

  input[type="search"] {
    margin: 0;
    width: var(--main_search_width);
    border-radius: .269em;
    font-size: 1.3em;
    padding-left: .384em;
  }
  select {
    background: transparent;
    color: white;
    font-size: .85em;
    border-radius: .25em;
    border: .1em solid white;
    margin-left: .5em;
    option { background: black; }
  }
  fieldset {
    border: none;
    padding: 0;
    display: inline;
    white-space: nowrap;
  }
  label {
    cursor: pointer;
    font-size: .85em;
    margin-top: 1em;
    display: inline-block;
    margin-right: 1em;
    padding-left: 2em;

    &.select {
      margin-right: 0;
      padding-left: 0;
      padding-right: 1em;
    }
    input {
      margin-left: 0;
      size: 0;
      position: relative;

      &::before, &::after {
        transition: top .2s, right .2s, width .2s, height .2s, border-radius .2s, background .2s, transform .2s;
        position: absolute;
        content: "";
        display: block;
      }
      &::before {
        size: .6em;
        right: .5em;
        top: .1em;
        transform: rotate(0deg);
        background: transparent;
      }
      &:checked::before {
        background: white;
        transform: rotate(135deg);
      }
      &::after {
        top: 0;
        size: .8em;
        right: .4em;
        border-radius: .1em;
        border: .1em solid white;
      }
      &:checked::after {
        border-radius: .2em;
        top: -.2em;
        right: .2em;
        size: 1.2em;
      }
    }
  }
  button {
    font-size: 1.5rem;
    border-radius: .25em;
    border: .08em solid var(--search_border_color);
    margin-left: var(--main_search_offset);
    width: calc(100% - var(--main_search_offset) - var(--main_search_width));
    height: 1.57em;
    min-width: 83px;
  }
  +ul.pagination {
    margin-bottom: 0;
    margin-top: 1.5em;
  }
}

mark {
  display: inline-block;
  padding: 0 .05em;
  border-radius: .2em;
}

#search_input_mobile#search_input_mobile {
  margin-bottom: 8%;
  width: 55%;

  + label {
    size: 2em;
    padding: 0;
    border-width: .1em;
    position: relative;

    &::before {
      content: "";
      size: 1em;
      border-radius: 50%;
      border: var(--mag_color) solid .2em;
      display: block;
      position: absolute;
      top: .15em;
      right: .25em;
    }
    &::after {
      background: var(--mag_color);
      content: "";
      display: block;
      height: .25em;
      position: absolute;
      transform: rotate(-45deg);
      width: .8em;
      bottom: .5em;
      right: .85em;
    }
    input { display: none; }
  }
  + button {
    line-height: 1.37;
    width: 20%;
  }
}

#search_input,
#search_input_mobile,
#searchform-main input {
  border-radius: .25em 0 0 .25em;
  display: inline-block;
  margin-left: var(--side_offset);
  font-size: 1.14rem;
  border-width: .1em;
  border-color: var(--search_border_color);
  border-style: solid;
  background: #0004;
  padding: .2em;
  height: 100%;
  color: white;
  float: left;
  width: var(--menu_search_width);

  + label, + input, +button {
    line-height: 0;
    font-weight: 570;
    font-family: inherit;
    float: left;
    color: white;
    text-align: center;
    min-width: calc(100% - var(--menu_search_width) - var(--side_offset) * 2.5);
    border-color: var(--search_border_color);
    transition: box-shadow .2s linear, border-color .2s linear, font-weight .2s ease-in-out;
    background: black;
    border-radius: 0 .35em .35em 0;
    font-size: 1rem;
    padding: .25em;
    height: 100%;
    border-width: .15em;
    border-style: solid;
    border-left: 0;
    display: inline-block;

    &:hover { font-weight: 420; }
  }
}

#footnote_container, #toenote_container { font-size: var(--text_multiplier); }

.search_result {
  display: flex;
  align-items: center;
  margin-top: 3em;
  transition: transform .3s, opacity .2s;

  &:first-of-type { margin-top: 2em; }
  &:last-of-type {
    @media (max-width: $mediaCutoff) { margin-bottom: 1em; }

    margin-bottom: 2em;
  }
  h2 {
    display: inline-block;
    margin-right: 2vw;
  }
  a {
    color: var(--link_color);
    display: block;
  }
  > a {
    @media (max-width: $mediaCutoff) { display: none; }

    margin-right: 2vw;
    width: 35%;
    position: relative;

    img {
      height: auto;
      box-shadow: 0 0 1em .25em var(--img_bg), 0 0 0 1em var(--search_image_background) inset;
      border: .25em solid var(--search_image_background);
      background: var(--search_image_background);
      border-radius: .35em;
      max-width: 100%;
    }
  }
  .search_group {
    @media (max-width: $mediaCutoff) {
      max-width: 80vw;
      margin: 0 auto;
    }

    font-weight: var(--text_weight);
    font-size: var(--text_multiplier);
    flex-shrink: 10;
    border: .25em solid var(--search_image_background);
    padding: .75em;
    flex-grow: 1;
    border-radius: .7em;
    background: var(--dark_background);
    text-align: left;

    .tag_container {
      text-align: center;
      margin: 0 auto;
      display: inline;

      &:last-of-type { white-space: nowrap; }
      .tag:first-of-type {
        margin-left: 1%;

        &::before { content: ""; }
      }
    }

    mark { background: var(--mark_color); }
    &:first-child p { margin-bottom: .5em; }
    h2 {
      margin: .25em;
      display: block;

      &::after {
        content: "";
        clear: both;
        display: block;
      }
      a {
        padding-bottom: .35rem;
        float: left;
        display: inline;
      }
      .datespan {
        margin-top: .3em;
        float: right;
        display: block;
        font-weight: 340;
        font-size: 1.2rem;
        opacity: .5;
      }
    }
    p {
      clear: both;
      margin-top: .5em;
      background: #272727;
      padding: .25em;
      margin-bottom: .5em;

      + p {
        background: transparent;
        padding: .25em;
      }
    }
  }
}

.listing {
  @media (max-width: $mediaCutoff) {
    min-width: 220px;
    width: 80vw;
  }

  transition: transform .2s ease-out, opacity .2s;
  text-align: left;
  position: relative;
  display: inline-block;
  overflow: visible;
  width: 27vw;
  min-width: 420px;
  margin: .9em;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--dark_background);
    z-index: -1;
  }
  &::after {
    pointer-events: none;
    border-radius: .75em;
    transition: box-shadow .3s ease;
    content: "";
    display: block;
    position: absolute;
    inset: -.25em;
    border: .25em solid #fffc;
    box-shadow: 0 0 1vmax .1vmax var(--shadow_bg), 0 0 1vmax .1vmax var(--shadow_bg) inset;
    z-index: 5;
  }
  &:hover::after { box-shadow: 0 0 1vmax .1vmax var(--shadow_bg_2), 0 0 1vmax .1vmax var(--shadow_bg_2) inset; }
  .top_part {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    &.is_new > a:last-of-type::after { content: "New"; }
    &:hover img { max-width: 77%; }
    &.empty::before { padding-bottom: 0; }
    > a:last-of-type {
      padding: 0;
      pointer-events: all;
      color: whitesmoke;
      position: static;
      height: 100%;
      width: 75%;
      text-decoration: none;
      display: block;

      &::after {
        content: "";
        height: 100%;
        position: absolute;
        color: #f5d377;
        font-weight: 650;
        text-align: right;
        font-style: italic;
        top: 0;
        width: 100%;
        padding: .4vmax;
        font-size: 1.6vmax;
        text-shadow: .03em -.01em .05em rgb(255 254 213), 0 0 .07em black, 0 0 .1em black, 0 0 .2em black;
      }
      h2 {
        @media (max-width: $mediaCutoff) { font-size: 3vmax; }

        font-size: 1.5vmax;
        font-size: max(1.5vmax, var(--max_listing_size));
        margin: 3% 4%;
        margin-bottom: 0;
        text-shadow: .1em .12em .15em rgb(0 0 0 / 90%), 0 0 1em rgb(0 0 0 / 60%);
      }
    }
    .tagdiv {
      position: absolute;
      bottom: 4%;
      left: 3%;
      width: 95%;
      pointer-events: none;

      &.shadowclone {
        margin-left: 3%;
        margin-bottom: 2%;
        position: static;
        visibility: hidden;
      }
      .tag {
        width: auto;
        font-size: .9em;
        &:last-of-type { margin-right: .5em; }
      }
    }
    p.tag_container {
      @media (max-width: $mediaCutoff) { font-size: .8em; }

      font-size: .7em;
      width: auto;
      margin: 0;
      display: inline-block;
      line-height: 1.8;
      text-align: left;

      ::before { content: ""; }
    }
    &::before {
      padding-bottom: 28%;
      float: left;
      content: "";
    }
    &::after {
      width: 0;
      height: 0;
      content: "";
      clear: left;
    }
  }
  a {
    pointer-events: none;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      transition: max-width .8s ease-in-out, var(--img_transition);
      mask-image: linear-gradient(90deg, transparent 5%, black 40%);
      z-index: -1;
      position: absolute;
      right: -.05em;
      top: -.05em;
      border-radius: 0 .65em 0 0;
      max-width: 68%;
      min-height: 100%;
      height: auto;
    }
  }
  .bottom_part {
    @media (max-width: $mediaCutoff) { font-size: 1rem; }

    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: var(--text_back);
    font-size: .9em;
    border-top: .25em solid #404040;

    p {
      margin: 1.3em;
      margin-top: 0;
      padding: 0;
      white-space: pre-wrap;

      &.date_part {
        font-weight: 300;
        font-size: .75em;
        opacity: .4;
        text-align: right;
        margin: .2em .8em;
      }
    }
  }
}

.svgContainer {
  @media (max-width: $mediaCutoff) {
    width: 100vw;
    margin-left: -3vw;
    height: auto;
  }

  width: 78vw;
  width: calc(98vw - var(--side_width));
  height: 80vh;
  will-change: transform, opacity;

  svg {
    width: 100%;
    max-height: 100%;

    #sgrad {
      --gradColorA: rgb(44 171 255);

      .stopA {
        stop-color: #000;
        stop-opacity: 50%;
      }
      .stopB {
        stop-color: var(--gradColorA);
        stop-opacity: 60%;
      }
      .stopC {
        stop-color: var(--gradColorA);
        stop-opacity: 0%;
      }
    }
    * {
      stroke-width: 2;
      stroke: var(--stroke_color);
    }
    .st3, .st4 {
      fill: url("#sgrad");
      stroke: var(--stroke_color);
    }
    .st0, .st1, .st2 {
      fill: transparent;
      stroke: var(--stroke_color);
    }
    .st0 { transition: transform var(--transform_time); }
    clipPath {
      transition: transform calc(var(--transform_time) / 2);
      transform: translateX(0);
    }
    polyline { opacity: .4; }
    .c {
      transition: opacity var(--transform_time);
      opacity: .4;
    }
    .c._t {
      opacity: 1;
      transition: opacity calc(var(--transform_time) / 3);

      .st0 {
        transform: translateX(var(--cubeTransform));
        transition: transform calc(var(--transform_time) / 3);
      }
    }
  }
}

.v-slide- {
  &active, &leave-active { transition: margin-top .3s linear, opacity .2s; }
  &enter-from, &leave-to {
    margin-top: var(--slide_height);
    opacity: 0;
  }
}

.v-page- {
  &enter-active ~ ul.pagination { opacity: 0; }
  &enter-active {
    position: absolute;
    opacity: 0;
  }
  &enter-from, &leave-to {
    transform: translateX(10%);
    opacity: 0;
  }
  &enter-from, &enter-to { transform: translateX(-10%); }
}

@keyframes slowfade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes jitter {
  0%, 10%, 18%, 20%, 23%, 48%, 70%, 78%, 84%, 100% { right: 0; }
  13%, 16%, 19%, 21%, 27% { right: calc(var(--jit1) * -1); }
  29%, 38% { right: calc(var(--jit3) * -1); }
  83% { right: calc(var(--jit2) * -1); }
  15%, 17%, 22% { right: var(--jit1); }
  28% { right: var(--jit2); }
  34% { right: var(--jit3); }
  42% { right: var(--jit5); }
  52% { right: var(--jit4); }
  80% { right: var(--jit6); }
}

@keyframes jitterA {
  0%, 10%, 18%, 20%, 23%, 48%, 70%, 78%, 84%, 100% { top: 0; }
  13%, 16%, 19%, 21%, 27% { top: calc(var(--jit1) * -1); }
  29%, 38% { top: calc(var(--jit3) * -1); }
  15%, 17%, 22% { top: var(--jit1); }
  28% { top: var(--jit2); }
  34% { top: var(--jit3); }
  42% { top: var(--jit5); }
  52% { top: var(--jit4); }
  80% { top: var(--jit6); }
  83% { top: var(--jit2); }
}