<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="theme-color" content="#6f1c24">
  <link rel="icon" href="<%= process.env['BASE_URL'] %>/favicon.ico">
  <link rel="stylesheet" href="<%= process.env['BASE_URL'] %>/css/galaxyStyle.css">
  <title>
    Modal Marginalia </title>
  <style>
    /* demo styles
  --------------------------------------------- */
  </style>
</head>

<body>
  <noscript>
    <strong>Modal Marginalia doesn't work properly without JavaScript enabled.<br>Don't worry. There are no ads on this
      site and no private data will be tracked or collected for any corporations, third parties, etc.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script type="module" src="/src/main.ts"></script>
</body>

</html>