:root {
  --bg_generic: url("../img/grayback2_web.png");
  --bg_vignette: url("../img/vignette.svg");
  --nav_highlight: rgba(255, 255, 255, .03);
  --nav_block_color_primary: #232323;
  --nav_block_color_secondary: #2f2f2f;
  --alpha_img: url("../img/alphonse_alpha.png");
  --sep_width: 38px;
  --sep_height: 27px;
  --modular_offset_fallback: calc(100% - 14.28571vw + 365.71429px);
  --modular_offset: max(calc(100% - 20vw + 512px), 100%);
  --navi_bg_a: transparent;
  --navi_bg_b: linear-gradient(var(--nav_highlight) 0%, var(--nav_highlight) 100%),
                 var(--bg_generic);
  --nav_padding: 10px;
}

*, :after, :before {
  box-sizing: inherit;
}

html {
  background-attachment: local;
  background-color: #1e1e1e;
  background-image: var(--alpha_img), var(--bg_generic);
  background-position: var(--modular_offset_fallback) center, 0;
  background-position: var(--modular_offset) center, 0;
  background-repeat: repeat-y, repeat;
  box-sizing: border-box;
  color: white;
  height: 100%;
  overflow: auto;
  width: 100%;
}

html:after {
  -webkit-mask-position: 0 -160%;
  -webkit-mask-size: 100% 60%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,0.66667) 50%, rgba(255,255,255,0) 100%);
  background: url("../img/alphonse_alpha_glow.png") repeat-y top;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
          mask-image: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,0.66667) 50%, rgba(255,255,255,0) 100%);
          mask-position: 0 -160%;
          mask-repeat: no-repeat;
          mask-size: 100% 60%;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: -webkit-mask-position 3s linear;
  transition: mask-position 3s linear;
  transition: mask-position 3s linear, -webkit-mask-position 3s linear;
  z-index: 2;
}

#vignetto {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background: var(--bg_vignette);
  background-size: 100% 100%;
  content: "";
  display: block;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

#vignetto, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Fira sans;
  font-size: 14pt;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;
}

body:hover:after, body:focus:after {
  -webkit-mask-position: 0 240%;
          mask-position: 0 240%;
}

#logo {
  right: 30px;
  top: 30px;
  width: 300px;
}

#logo, .round {
  position: absolute;
}

.round {
  background-attachment: fixed;
  background-image: var(--bg_vignette) var(--bg_generic);
  background-size: 100% 100%, auto;
  bottom: 10%;
  box-shadow: inset 0 0 0 0 black;
  cursor: pointer;
  height: 30px;
  left: 75pt;
  transition: box-shadow .3s, background-position .2s;
  width: 75pt;
  z-index: 3;
}

.round:before {
  -o-border-image: url("../img/shadowbox3.png");
  center: both;
  background-origin: content-box;
  background-repeat: repeat;
  border-bottom: 46px solid;
     border-image: url("../img/shadowbox3.png");
  border-image-outset: 22px;
  border-image-slice: 46;
  content: "";
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.round .text {
  display: inline-block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  transition: top .2s, right .2s, color .4s;
}

.round:hover, .round:focus {
  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .05) 100%),
                      var(--bg_vignette),
                      var(--bg_generic);
  background-position: 3px -3px;
  background-size: 100% 100%, 100% 100%, auto;
  box-shadow: inset 3px -2px 9pt black, 0 -1px 3px -1px black, -1px 1px 2px #111;
}

.round:hover .text, .round:focus .text {
  color: #b8b8b8;
  right: calc(50% - 3px);
  top: calc(50% - 3px);
}

.separator_vert {
  background: url("../img/sep_middle.png") repeat-y;
  display: block;
  height: 80%;
  left: 17%;
  position: absolute;
  top: 15%;
  width: var(--sep_width);
  z-index: -30;
}

.separator_vert:after, .separator_vert:before {
  content: "";
  display: block;
  height: var(--sep_height);
  position: absolute;
  width: var(--sep_width);
}

.separator_vert:before {
  background: url("../img/sep_bottom.png");
  bottom: calc(var(--sep_height)*-1);
}

.separator_vert:after {
  background: url("../img/sep_top.png");
  top: calc(var(--sep_height)*-1);
}

header {
  background-origin: content-box;
  display: block;
  height: 10%;
  margin-bottom: 50px;
  overflow: visible;
  padding: 20px 0 5px calc(2% - var(--sep_height));
  position: relative;
  transition: all .3s;
  width: 100%;
  z-index: 100;
}

header img {
  filter: drop-shadow(-3px 3px 4px black);
  height: 100%;
}

.separator_horiz {
  background: url("../img/sep_middle_h.png") repeat-x;
  bottom: calc(var(--sep_width)*-1);
  display: block;
  height: var(--sep_width);
  left: 2%;
  position: absolute;
  width: calc(var(--modular_offset)/1.25 - var(--sep_height)*2);
  z-index: 30;
}

.separator_horiz:after, .separator_horiz:before {
  content: "";
  display: block;
  height: var(--sep_width);
  position: absolute;
  width: var(--sep_height);
}

.separator_horiz:before {
  background: url("../img/sep_top_h.png") no-repeat;
  right: calc(var(--sep_height)*-1);
}

.separator_horiz:after {
  background: url("../img/sep_bottom_h.png") no-repeat;
  left: calc(var(--sep_height)*-1);
}

.solid {
  border-bottom: 0 solid rgba(0, 0, 0, .5);
  border-left: 0 solid rgba(0, 0, 0, .1);
  bottom: 5%;
}

.solid:hover, .solid:focus {
  border-bottom: 3px solid rgba(0, 0, 0, .2);
  border-left: 3px solid rgba(255, 255, 255, .05);
  box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, .6), 0 -1px 3px -1px black;
}

#menutoggle {
  display: none;
}

#menutoggle+label {
  background: red;
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  top: 40%;
  transition: left .2s;
  width: 10px;
  z-index: 5;
}

#menutoggle+label:focus {
  background: yellow;
}

#menutoggle:checked+label {
  background: blue;
  left: 19%;
}

#menutoggle:checked+label+nav {
  margin-left: 0;
  margin-right: 0;
}

#menutoggle:checked+label+nav:before {
  max-width: none;
}

#navi {
  display: block;
  float: left;
  font-family: Burger Joint JL;
  font-size: 27px;
  font-size: 1.6875rem;
  margin-left: 0;
  margin-right: 0;
  min-height: 80%;
  position: relative;
  transition: margin-left .4s linear, margin-right .4s linear;
  width: 15%;
}

#navi:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: var(--navi_bg_b);
  border-radius: 0 15px 15px 0;
  box-shadow: 1px 1px 0 var(--nav_block_color_secondary),
                2px 2px 0 var(--nav_block_color_primary),
                3px 3px 4px -3px var(--nav_block_color_primary),
                3px 3px 5px rgba(0,0,0,0.66667);
  content: "";
  display: block;
  height: 100%;
  max-width: 15vw;
  opacity: 0;
  position: absolute;
  transition: opacity .4s linear .4s;
  width: 100%;
}

#navi ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

#navi ul li ul li a {
}

#navi ul li .navbox {
  display: none;
}

#navi ul li .navbox+label {
  -o-border-image: url("../img/shadowbox.png");
  background-origin: border-box;
  border: 9px solid;
     border-image: url("../img/shadowbox.png");
  border-image-slice: 9;
  border-image-width: 15px;
  display: block;
  left: -30px;
  margin: 25px 0;
  padding: var(--nav_padding) 0 var(--nav_padding) 25px;
  position: relative;
  text-align: center;
  top: 20%;
  transition: background-position .6s ease-out, left .15s linear;
  width: calc(100% - 30px);
}

#navi ul li .navbox+label a {
  text-shadow: 1px 2px 3px black;
}

#navi ul li .navbox+label:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: linear-gradient(0deg, #ff8c69 0, rgba(255,0,0,0.86667) 30%, #f00 70%) 100%;
  background: linear-gradient(0deg, rgba(255, 140, 105, .7) 0, rgba(255,0,0,0.86667) 30%, rgba(255, 0, 0, 0) 70%) 100%;
  background-position: center -150%;
  background-repeat: no-repeat;
  background-size: 100% calc(var(--nav_padding)*5);
  bottom: 0;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .6);
  content: "";
  left: 0;
  opacity: .5;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: .6s ease-out;
  z-index: -1;
}

#navi ul li .navbox+label:hover, #navi ul li .navbox+label:focus {
  left: -10px;
}

#navi ul li .navbox+label:hover:before, #navi ul li .navbox+label:focus:before {
  background-position: center 50%;
}

#navi ul li .navbox:checked+label {
  left: -10px;
}

.main_article {
  float: left;
  padding-bottom: 60px;
  transform: translateX(0);
  width: calc(var(--modular_offset) - 35%);
}

.main_article h1 {
  font-family: Vollkorn;
  font-size: 30pt;
  margin-top: 0;
  text-align: center;
}

.main_article .article_body {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background: #000;
  background: rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 0 2px 0px #242424,
                inset 0 0 2px 0 #242424,
                inset 4px -5px 15px rgba(0, 0, 0, .5);
  min-height: 60vh;
  opacity: 1;
  padding: 20px 30px;
  text-shadow: 0 0 1px black;
  transform: translate(0, 0);
  transition: all .3s;
  width: 100%;
  z-index: -1;
}

@media (min-width: 1680px) {
  #menutoggle+label {
    left: -10px;
  }

  #menutoggle:checked+label {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -10px;
    opacity: 0;
  }

  #menutoggle:checked+label+nav {
    margin-left: 0;
    margin-right: 0;
  }

  #menutoggle:checked+label+nav:before {
    max-width: none;
  }
}

@media (max-width: 1680px) {
  #menutoggle+label+nav {
    margin-left: -20%;
  }

  #navi {
    display: block;
    left: -20px;
    margin-left: 0;
    margin-right: 17.5%;
    position: absolute;
    transition: margin-left .4s linear, margin-right .4s linear;
    width: 20%;
    z-index: 3;
  }

  #navi:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }

  .main_article {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
}
